<form method="post" action="/oauth/authorize?app_id={{appId}}&redirect_uri={{redirectUri}}"
      class="mdl-card mdl-shadow--2dp login-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{appName}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The application {{appName}} wants you to be granted the following permissions on your LvConnect account.
  </div>
  <ul class="mdl-list">
    {{#each permissionsToAllow}}
      <li class="mdl-list__item mdl-list__item--two-line">
        <div class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">{{icon}}</i>
          <span>{{label}}</span>
          <span class="mdl-list__item-sub-title">{{description}}</span>
        </div>
      </li>
    {{/each}}
  </ul>
  {{#if permissionsAllowed.length}}
    <div class="mdl-card__supporting-text">
      Bellow are the already granted permissions:
    </div>
    <ul class="mdl-list oauth-already-granted">
      {{#each permissionsAllowed}}
        <li class="mdl-list__item mdl-list__item--two-line">
          <div class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">{{icon}}</i>
            <span>{{label}}</span>
            <span class="mdl-list__item-sub-title">{{description}}</span>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <input type="hidden" name="crumb" value="{{crumb}}">
  <input type="hidden" id="step" name="step" value='permissions'>
  <input type="hidden" id="scopes" name="scopes" value='{{permissions}}'>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
      Accepter
    </button>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{redirectUri}}?error=true">
      Refuser
    </a>
  </div>
</form>
