<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>
      {{#if app }}
        Edit Application
      {{else  }}
        Create Application
      {{/if }}
    </h3>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-layout__header-row mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet errors">
  {{#each errors }}
      {{#each this.details }}
        <p>{{  this.message }}</p>
      {{/each }}
  {{/each   }}
  </div>

  <form class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp" method="POST">
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="appIdInput" name="name" value="{{ app.name }}" required>
        <label class="mdl-textfield__label" for="appIdInput">Name</label>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" id="descriptionInput" rows="6" name="description"  required>{{ app.description }}</textarea>
        <label class="mdl-textfield__label" for="descriptionInput">Description</label>
      </div>

      {{#if app}}
        App id: {{app.appId}}<br/>
        App secret: {{app.appSecret}}
      {{/if}}
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
          {{#if app }}
            Edit Application
          {{else  }}
            Create Application
          {{/if }}
      </button>
    </div>
  </form>
</div>

<script defer src="/dashboard/assets/js/pristine-form.js"></script>
