<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>
      {{#if editMode }}
        Edit Application
      {{else  }}
        Create Application
      {{/if }}
    </h3>
  </div>

  <div class="mdl-layout__header-row mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet errors">
    {{#each errors }}
      {{#each this.details }}
        <p>{{  this.message }}</p>
      {{/each }}
    {{/each   }}
  </div>

  <form class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp"
        method="POST">
    <div class="mdl-card__supporting-text mdl-grid">
      <div
        class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="nameInput" name="name" value="{{ app.name }}" required>
        <label class="mdl-textfield__label" for="nameInput">Name</label>
      </div>

      <div
        class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" id="descriptionInput" rows="6" name="description"
                  required>{{ app.description }}</textarea>
        <label class="mdl-textfield__label" for="descriptionInput">Description</label>
      </div>

      <div
        class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="redirectUriInput" name="redirectUri"
               value="{{ app.redirectUris.[0] }}" required>
        <label class="mdl-textfield__label" for="redirectUriInput">Redirect URI</label>
      </div>

      {{#each validScopes as |scope|}}
        <div class="mdl-cell mdl-cell--6-col">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" name="allowedScopes" value="{{ scope }}" class="mdl-checkbox__input"{{#ifIncludes
              @root.app.allowedScopes scope}} checked{{/ifIncludes}}>
            <span class="mdl-checkbox__label">{{ scope }}</span>
          </label>
        </div>
      {{/each}}

      <input type="hidden" name="crumb" value="{{crumb}}">
    </div>

    {{#if editMode}}
      <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <b>App id</b>: {{app.appId}}<br/>
          <b>App secret</b>: {{app.appSecret}}
        </div>
      </div>
    {{/if}}

    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
        {{#if editMode }}
          Edit Application
        {{else  }}
          Create Application
        {{/if }}
      </button>
    </div>
  </form>
</div>
