<form class="mdl-grid" method="POST">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Add new partner</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-grid">
      {{error}}

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="firstNameInput" name="firstName" value="{{newUser.firstName}}" required>
        <label class="mdl-textfield__label" for="firstNameInput">First Name</label>
      </div>

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="lastNameInput" name="lastName" value="{{newUser.lastName}}" required>
        <label class="mdl-textfield__label" for="lastNameInput">Last Name</label>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="emailInput" value="{{newUser.email}}" name="email" required>
        <label class="mdl-textfield__label" for="emailInput">LV Email</label>
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="fallbackEmailInput" name="fallbackEmail" value="{{newUser.fallbackEmail}}" required>
        <label class="mdl-textfield__label" for="fallbackEmailInput">Fallback Email</label>
      </div>

      {{#each validRoles as |role|}}
      <div class="mdl-cell mdl-cell--4-col">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="role-checkbox-{{ role }}">
          <input type="checkbox" name="roles" value="{{ role }}" id="role-checkbox-{{ role }}" class="mdl-checkbox__input"{{#ifIncludes @root.newUser.roles role}} checked{{/ifIncludes}}>
          <span class="mdl-checkbox__label">{{ role }}</span>
        </label>
      </div>
      {{/each}}

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="plainPasswordInput" name="plainPassword" pattern=".{6,}" required>
        <label class="mdl-textfield__label" for="plainPasswordInput">Password</label>
      </div>

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="plainPasswordCheckInput" name="plainPasswordCheck" pattern=".{6,}" required>
        <label class="mdl-textfield__label" for="plainPasswordCheckInput">Repeat Password</label>
      </div>

      <div
        class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" id="descriptionInput" rows="6" name="description"
                  maxlength="255">{{newUser.description}}</textarea>
        <label class="mdl-textfield__label" for="descriptionInput">Description</label>
      </div>

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="githubHandleInput" name="githubHandle" value="{{newUser.githubHandle}}">
        <label class="mdl-textfield__label" for="githubHandleInput">Github</label>
      </div>

      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="trelloHandleInput" name="trelloHandle" value="{{newUser.trelloHandle}}">
        <label class="mdl-textfield__label" for="trelloHandleInput">Trello</label>
      </div>

      <input type="hidden" name="crumb" value="{{crumb}}">
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
        Create User
      </button>
    </div>
  </div>
</form>
