<div class="mdl-grid">
  <form class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp"
        method="POST">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">
        {{#if editMode}}
          Edit Application
        {{else}}
          Create Application
        {{/if}}
      </h3>
    </div>
    <div class="mdl-card__supporting-text mdl-grid">
      {{error.message}}

      <div
        class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="nameInput" name="name" value="{{ app.name }}" required>
        <label class="mdl-textfield__label" for="nameInput">Name</label>
      </div>

      <div
        class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" id="descriptionInput" rows="6" name="description"
                  required>{{ app.description }}</textarea>
        <label class="mdl-textfield__label" for="descriptionInput">Description</label>
      </div>

      <div
        class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="redirectUriInput" name="redirectUri"
               value="{{ app.redirectUris.[0] }}" required>
        <label class="mdl-textfield__label" for="redirectUriInput">Redirect URI</label>
      </div>

      {{#each validScopes as |scope|}}
        <div class="mdl-cell mdl-cell--6-col">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" name="allowedScopes" value="{{ scope }}" class="mdl-checkbox__input"{{#ifIncludes
              @root.app.allowedScopes scope}} checked{{/ifIncludes}}>
            <span class="mdl-checkbox__label">{{ scope }}</span>
          </label>
        </div>
      {{/each}}

      <input type="hidden" name="crumb" value="{{crumb}}">
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
        {{#if editMode }}
          Save
        {{else  }}
          Create application
        {{/if }}
      </button>
    </div>
  </form>

  {{#if editMode}}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">
          Application credentials
        </h3>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <b>App id</b>: {{app.appId}}<br/>
          <b>App secret</b>: {{app.appSecret}}
        </div>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        Do not store those credentials on repositories and do not share publicly.
      </div>
    </div>
  {{/if}}
</div>
