<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>{{userData.firstName}} {{userData.lastName}}</h3>
  </div>
</div>

<div class="mdl-grid">
  <div class="user-card mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp">
    <a
      class="mdl-card__title"
      style="background-image: url('{{userData.profilePictureUrl}}')"
      href="/dashboard/users/{{userData.id}}">
      <div class="card-title-shade"></div>
      <h2 class="mdl-card__title-text">{{userData.firstName}} {{userData.lastName}}</h2>
    </a>
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Email: <a href="mailto:{{userData.email}}">{{userData.email}}</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        Fallback Email: <a href="mailto:{{userData.fallbackEmail}}">{{userData.fallbackEmail}}</a>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        Description: {{userData.description}}
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        {{#each userData.roles as |role|}}
          <span class="mdl-chip">
            <span class="mdl-chip__text">{{role}}</span>
          </span>
        {{/each}}
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        Services:
        {{#serviceStatusList userData}}{{/serviceStatusList}}
      </div>
    </div>
    {{#ifHasRole adminRoles}}
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dashboard/users/{{@root.userData._id}}/edit">
          Edit
        </a>
      </div>
    {{/ifHasRole}}
  </div>
</div>
