<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>Users</h3>
  </div>
</div>

<div class="mdl-grid">
  {{#each users as |user|}}
  <div class="user-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet">
    <a class="mdl-card__title mdl-card--expand" style="background-image: url('https://www.gravatar.com/avatar/{{hash}}?s=500')" href="/dashboard/users/{{user.id}}">
      <div class="card-title-shade"></div>
      <h2 class="mdl-card__title-text">{{user.firstName}} {{user.lastName}}</h2>
    </a>
    <div class="mdl-card__supporting-text">
      Email: <a href="mailto:{{user.email}}">{{user.email}}</a>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dashboard/users/{{user._id}}">
        Details
      </a>
      {{#ifHasRole @root.adminRoles}}
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dashboard/users/{{user._id}}/edit">
        Edit
      </a>
      {{/ifHasRole}}
    </div>
  </div>
  {{/each}}
</div>

{{#ifHasRole adminRoles}}
<a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-bottom-right-button" href="/dashboard/users/create">
  <i class="material-icons">add</i>
</a>
{{/ifHasRole}}
